.login-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form {
    position: relative;
    z-index: 1;
    background: #f0f0f0;
    /* Changed background color */
    width: 30%;
    padding: 30px 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    /* Changed box shadow */
    border-radius: 10px;
    /* Added border-radius */
    animation: slideInDown 0.3s ease-in-out;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #fff;
    /* Changed input background color */
    width: 100%;
    border: 1px solid #ccc;
    /* Changed border color */
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
    /* Added border-radius */
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    background-color: #007bff;
    /* Changed button background color */
    border-radius: 5px;
    /* Added border-radius */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #0056b3;
    /* Changed button hover background color */
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #001f3f;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    align-items: center;
    font-weight: bold;
    color: #333;
    /* Changed label color */
}

.login-form label input {
    position: relative;
}

.login-form a {
    display: block;
    margin-top: 15px;
    color: #333;
    /* Changed link color */
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.login-form a:hover {
    text-decoration: underline;
}

.login-form button {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: 2px solid #0c70d3;
    border-radius: 5px;
    /* Added border-radius */
    cursor: pointer;
    transition: 0.3s;
}

.login-form button:hover {
    background-color: #3d7dbd;
    /* Changed button hover background color */
    color: #fff;
}

section {
    position: relative;
    z-index: 1;
    max-width: 100%;
    margin: 0 auto;
    background: white;
    max-height: 10%;
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}